<div class="password-strength">
  <p class="password-strength__label">Força da senha:</p>
  <div class="password-strength__bars">
    <div class="password-strength__bar" [ngClass]="strength.barClasses[0]"></div>
    <div class="password-strength__bar" [ngClass]="strength.barClasses[1]"></div>
    <div class="password-strength__bar" [ngClass]="strength.barClasses[2]"></div>
    <div class="password-strength__bar" [ngClass]="strength.barClasses[3]"></div>
  </div>
  <p class="password-strength__text" [ngClass]="strength.textClass">{{ strength.text }}</p>
</div>
