/*reset css que uso sempre*/

:root {
  --color-primary: #ff725e;
  --color-error: #ef4444;

}
/* Opcional: Adiciona um anti-aliasing melhor para a fonte ficar mais suave */
html, body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/*Remova a margem e o padding padrão da maioria dos elementos.*/
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
fieldset,
dl,
dd,
ul,
ol {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
}

/*Remova os estilos de lista padrão.*/
ul[role='list'],
ol[role='list'] {
  list-style: none;
}
/*resete imagens e mídias.*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*Remova a herança de estilos de fonte para inputs e botões.*/
input,
button,
textarea,
select {
  font: inherit;
}

/*Remova o sublinhado padrão dos links.*/
a {
  text-decoration: none;
  color: inherit;
}

/*Garante que a raiz do HTML ocupe toda a altura da tela.*/
html:focus-within {
  scroll-behavior: smooth;
}
.cdk-overlay-pane{
  margin: 1.25rem;
}
.cdk-global-overlay-wrapper{
  background: #fab1a763;
  position: absolute;
  z-index: 1000;
  height: 100vh;
  width: 100%;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.cdk-dialog-container {
  display: block;
  width: 100%;
  height: 100%;
  min-height: inherit;
  max-height: inherit;
  background: #ffff;
  padding: 1.25rem;
  border-radius: 0.75rem;
}
